*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    max-width: 1200px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #f8f8f8;
    border-bottom: 1px solid #add;
    font-size: 14px;
    gap: 15px;
}
.leftcorner,.rightcorner{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.leftcorner a{
    text-decoration: none;
    color: #555;
}
.a1{
    color: green;
}
.middle{
    color: green;
    font-weight: bold;
    text-align: center;
    flex: 1;

}
select{
    border: none;
    background: transparent;
    cursor: pointer;
}











.nano{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #fff;
    gap: 3px;
    flex-wrap: wrap;

}
.logo img{
    width: 75px;
}
.papo{
    display: flex;
    flex: 1;
    max-width: 600px;
}
.papo input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.papo button{
    padding: 10px 20px;
    background: #32b768;
    color: #fff;
    border: none;
    cursor: pointer;
}
.word1{
    font-size: 30px;
    color: green;

}
.word2{
    font-size: 8px;
}
.oaoo button{
    padding: 10px 20px;
    background: #c7c4c4;
    color: black;
    border: none;
    cursor: pointer;
}
.mamo{
    display: flex;
    gap: 20px;
}
.mamo a{
    text-decoration: none;
    color: #333;
}
@media(max-width:768px){
    .topbar{
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 10px;
    }
    .leftcorner,.rightcorner{
        justify-content: center;
    }
    .leftcorner{
        flex-wrap: wrap;
    }
    .rightcorner{
        flex-direction: column;
        gap: 5px;
    }
    .middle{
        font-size: 13px;
        
    }
}



@media (max-width:768px){
    .nano{
        flex-direction: column;
        align-items: stretch;
    }
    .logo{
        text-align: center;

    }
    .papo{
        width: 100%;
    }
    .mamo{
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;


    }


}















.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.box{
    background: #2bb673;
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.link{
    display: flex;
    list-style: none;
    gap: 25px;
}
.link a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
@media(max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    
    .link{
        
        flex-direction: column;
        gap: 5px;
       


    }
    .link li{
        width: 100%;
    }
    .link a{
        display: block;
        padding: 3px;
        background: #f0f0f0;
        border-radius: 5px;

    }
    .box button{
        width:100%;
        align-items: center;
        margin-bottom: 15px;
        alignment:center;
    }
}